/* work sans font from google */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&family=Open+Sans:wght@300;400;700;800&family=Work+Sans:wght@400;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 140px;
}

/* button style */

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #FFF;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0;
  font-weight: 600;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner style */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-description {
    margin-top: -20px;
  color: #727272;
}
.banner-img{
    margin-top: 20px;
    width: 100%;
}

/* respomsive media queries */
/* for mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
}

/* for tablet or medium devices */
 
@media screen and (min-width: 567px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }
}

/* main style  */

main{
    max-width: 1440px;
    margin: 0 auto;
}
/*  team feature style */
.team-container{
    display: flex;
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}

.team-title{
    font-size: 2.8rem;
}
.team-title .Quick-list{
    color: #727272;
    font-weight: 500;
}
.team-title .of-Our{
    color: #131313;
}
.team-title .text-features{
    color: #FF900E;
    font-weight: 700;
}